<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/_head') %> 
    <body>
        <div class="ui middle aligned center aligned grid">
            <div class="column">
              <h2 class="ui blue header">
                <div class="content">
                  Thematic LMS Sign-up
                </div>
              </h2>
              <form class="ui large form">
                <div class="ui stacked segment">
                <div class="field">
                    <label for="name">Name</label>
                    <div class="ui left icon input">
                      <i class="pen icon"></i>
                      <input 
                      type="text" 
                      name="name" 
                      placeholder="Gloria Hernandez">
                    </div>
                  </div>
                  <div class="field">
                    <label for="email">Email</label>
                    <div class="ui left icon input">
                      <i class="user icon"></i>
                      <input 
                      type="text" 
                      name="email" 
                      placeholder="example@email.com">
                    </div>
                  </div>
                  <div class="field">
                    <label for="password">Password</label>
                    <div class="ui left icon input">
                      <i class="lock icon"></i>
                      <input 
                      type="password" 
                      name="password" 
                      placeholder="********">
                    </div>
                  </div>
                  <div class="field">
                    <label for="image">Profile Photo</label>
                    <div class="ui left icon input">
                      <i class="camera icon"></i>
                      <input 
                      type="text" 
                      name="image" 
                      placeholder="https://">
                    </div>
                  </div>
                  <div class="field">
                    <label for="instructor">Instructor/Student</label>
                    <select
                    name="instructor">
                        <option value="">Select One</option>
                        <option value="1">Instructor</option>
                        <option value="0">Student</option>
                      </select>
                </div>
                  <div class="ui fluid large blue submit button">Sign-up</div>
                </div>
                <div class="ui error message"></div>
              </form>
              <div class="ui message">
                Already signed up? <a href="#">Click Here</a>
              </div>
            </div>
          </div>
    </body>
</html>