<header>
    <h1 class="ui header">Thematic LMS</h1>
    <div>
        <button class="ele-col ui button toggler">
        <i class="hamburger icon"></i>
            Menu
        </button>
        <label>Themes:</label>
        <select id="theme-selector">
            <option value="default">Default</option>
            <option value="purple">Purple</option>
            <option value="yellow">Yellow</option>
        </select>
    </div>
    <hr />
</header>  