<header>
    <h1 class="ui header">Thematic LMS</h1>
    <div>
        <button class="ele-col ui button toggler">
        <i class="hamburger icon"></i>
            Menu
        </button>
        <label>Themes:</label>
        <select id="theme-selector">
            <option value="#f9f9f9">Default</option>
            <option value="#fffbe6">Parchment</option>
            <option value="#feeae6">Salmon</option>
            <option value="#e1f5fe">Morning Mist</option>
            <option value="#CCFF90">Lime</option>
            <option value="#ffd180">Sunset</option>
            <option value="#D1C4E9">Twilight</option>
            <option value="#D7CCC8">Wasteland</option>
            <option value="#ECEFF1">NASA</option>
        </select>
    </div>
    <hr />
</header>  