<a class="item" href="/assignments">
    My Assignments
  </a>
  <a class="item" href="/assignments/new">
    Create Assignment
  </a>
  <a class="item" href="/submissions/new">
    Create Submission
  </a>
  <a class="item" href="/logout">
    Logout
  </a>