<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/_head') %>
    </head>
    <body>
      <div class="ui left demo vertical inverted thin sidebar labeled icon menu">
        <a class="item" href="/assignments">
            My Assignments
          </a>
          <a class="item" href="/assignments/new">
            Create Assignment
          </a>
          <a class="item" href="/submissions/new">
            Create Submission
          </a>
      </div>
        <div class="pusher">
            <header>
                <h1 class="ui header">First Header</h1>
                <button class="ui button toggler">Menu</button>
            </header>  
                <h3 class="ui header">Create Submission</h3>
                <form class="ui form" action="/submissions" method="POST">
                  <% if (typeof error !== "undefined") { %>
                      <%= error.message %> 
                  <% } %> 
                <div class="field">
                    <label>Student Name</label>
                    <input 
                    type="text"
                    name="studentName"
                    placeholder="Your Name Here">
                </div>
                <div class="field">
                  <label>File Upload</label>
                  <textarea
                  name="file"
                  placeholder="File Upload"></textarea>
                </div>
                <button class="ui teal submit button" type="submit">Submit Assignment</button>
                </form>
    </body>
</html>