<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/app.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <h1>LMS site</h1>
        <nav>
            <ul>
                <li>User</li>
                <li>My Assignments</li>
                <li>Create Assignment</li>
            </ul>
        </nav>
    </header>
    <section>
        <h2>LMS Login</h2>
        <form action="#" method="#">
            <label for="email">Email</label>
            <input
                name="email"
                type="email"
                placeholder="example@email.com"
            >
            <label for="password">Password</label>
            <input
                name="password"
                type="password"
                placeholder="********"
            >
            <button>Login</button>        
        </form>
        <a href="#">Need to sign up? Click here!</a>
    </section>
    <main>
        <h2>Assignments</h2>
        <article>
            <h3>Assignment 1</h3>
            <p>Due: Date</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, iure fugit? Deserunt, harum. Modi saepe minima commodi ab non, ad nobis maiores, dolore possimus consequatur id quas porro! Possimus, explicabo. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, dolore ex? Voluptate vero earum cupiditate, adipisci laboriosam quae beatae minus esse quia, magni maiores. Delectus error similique reprehenderit facere! Placeat!</p>
        </article>
        <article>
            <h3>Assignment 1</h3>
            <p>Due: Date</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, iure fugit? Deserunt, harum. Modi saepe minima commodi ab non, ad nobis maiores, dolore possimus consequatur id quas porro! Possimus, explicabo. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, dolore ex? Voluptate vero earum cupiditate, adipisci laboriosam quae beatae minus esse quia, magni maiores. Delectus error similique reprehenderit facere! Placeat!</p>
        </article>
        <article>
            <h3>Assignment 1</h3>
            <p>Due: Date</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, iure fugit? Deserunt, harum. Modi saepe minima commodi ab non, ad nobis maiores, dolore possimus consequatur id quas porro! Possimus, explicabo. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, dolore ex? Voluptate vero earum cupiditate, adipisci laboriosam quae beatae minus esse quia, magni maiores. Delectus error similique reprehenderit facere! Placeat!</p>
        </article>

    </main>
</body>
</html>