<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/app.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    <title>Thematic LMS</title>
</head>
<body>
    <div class="ui cards">
        <div class="card">
          <div class="content">
            <div class="header">Assignment 1</div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, iure fugit? Deserunt, harum. Modi saepe minima commodi ab non, ad nobis maiores, dolore possimus consequatur id quas porro! Possimus, explicabo. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, dolore ex? Voluptate vero earum cupiditate, adipisci laboriosam quae beatae minus esse quia, magni maiores. Delectus error similique reprehenderit facere! Placeat!
            </div>
          </div>
          <div class="ui bottom attached button">
            <i class="add icon"></i>
            Add Friend
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="header">Assignment 2</div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, iure fugit? Deserunt, harum. Modi saepe minima commodi ab non, ad nobis maiores, dolore possimus consequatur id quas porro! Possimus, explicabo. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, dolore ex? Voluptate vero earum cupiditate, adipisci laboriosam quae beatae minus esse quia, magni maiores. Delectus error similique reprehenderit facere! Placeat!
            </div>
          </div>
          <div class="ui bottom attached button">
            <i class="add icon"></i>
            View Assignment
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="header">Assignment 3</div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, iure fugit? Deserunt, harum. Modi saepe minima commodi ab non, ad nobis maiores, dolore possimus consequatur id quas porro! Possimus, explicabo. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, dolore ex? Voluptate vero earum cupiditate, adipisci laboriosam quae beatae minus esse quia, magni maiores. Delectus error similique reprehenderit facere! Placeat!
            </div>
          </div>
          <div class="ui bottom attached button">
            <i class="add icon"></i>
            View Assignment
          </div>
        </div>
      </div>
    <header>
        <h1>LMS site</h1>
        <nav>
            <ul>
                <li>User</li>
                <li>My Assignments</li>
                <li>Create Assignment</li>
            </ul>
        </nav>
    </header>
    <section>
        <h2>LMS Login</h2>
        <form action="#" method="#">
            <label for="email">Email</label>
            <input
                name="email"
                type="email"
                placeholder="example@email.com"
            >
            <label for="password">Password</label>
            <input
                name="password"
                type="password"
                placeholder="********"
            >
            <button>Login</button>        
        </form>
        <a href="#">Need to sign up? Click here!</a>
    </section>
    <main>
        <h2>Assignments</h2>
        <article>
            <h3>Assignment 1</h3>
            <p>Due: Date</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, iure fugit? Deserunt, harum. Modi saepe minima commodi ab non, ad nobis maiores, dolore possimus consequatur id quas porro! Possimus, explicabo. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, dolore ex? Voluptate vero earum cupiditate, adipisci laboriosam quae beatae minus esse quia, magni maiores. Delectus error similique reprehenderit facere! Placeat!</p>
        </article>
        <article>
            <h3>Assignment 1</h3>
            <p>Due: Date</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, iure fugit? Deserunt, harum. Modi saepe minima commodi ab non, ad nobis maiores, dolore possimus consequatur id quas porro! Possimus, explicabo. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, dolore ex? Voluptate vero earum cupiditate, adipisci laboriosam quae beatae minus esse quia, magni maiores. Delectus error similique reprehenderit facere! Placeat!</p>
        </article>
        <article>
            <h3>Assignment 1</h3>
            <p>Due: Date</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, iure fugit? Deserunt, harum. Modi saepe minima commodi ab non, ad nobis maiores, dolore possimus consequatur id quas porro! Possimus, explicabo. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, dolore ex? Voluptate vero earum cupiditate, adipisci laboriosam quae beatae minus esse quia, magni maiores. Delectus error similique reprehenderit facere! Placeat!</p>
        </article>

    </main>
</body>
</html>