<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head') %>
</head>
<body>
    <div class="ui left demo vertical inverted thin sidebar labeled icon menu">
        <a class="item" href="/assignments">
            My Assignments
          </a>
          <a class="item" href="/assignments/new">
            Create Assignment
          </a>
          <a class="item" href="/submissions/new">
            Create Submission
          </a>
          <a class="item" href="/logout">
            Logout
          </a>
      </div>
    <div class="pusher">
        <header>
            <h1 class="ui header">First Header</h1>
            <button class="ui button toggler">Menu</button>
        </header>
        <h3 class="ui header">Create New Assignment</h3>        
            <form class="ui form" action="/assignments" method="POST">
            <% if (typeof error !== "undefined") { %>
                <%= error.message %> 
            <% } %> 
            <div class="field">
                <label>Assignment Name</label>
                <input 
                type="text"
                name="name"
                placeholder="Project 1">
            </div>
            <div class="field">
                <label>Assignment Due Date</label>
                <input 
                type="date"
                name="dueDate">
            </div>
            <div class="field">
              <label>Assignment Content</label>
              <textarea
              name="content"
              placeholder="Assignment content goes here..."></textarea>
            </div>
            <button class="ui green submit button" type="submit">Create Assignment</button>
        </form>
</body>
</html>