body {
    background-color: #f9f9f9;
}

body.pushable>.pusher {
    background: #f9f9f9;
}

header {
    text-align: center;
    margin: 15px 15px 0 15px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main.login {
    margin: 35px 0;
}

section.container {
    margin: 15px;
}

.assignment.ui.bottom.attached.button {
    position: absolute;
    margin-top: 93%;
}

.btn-flex.container {
    display: flex;
    margin: 10px 0;
}

.assignment.ui.cards {
    margin: 10px;
    justify-content: center;
    gap: 15px;
}

.assignment.ui.cards .card {
    width: 300px;
    height: 300px;
}

.assignment.ui.cards .card .content{
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 20px;
}

.assignment.ui.cards .card .content::-webkit-scrollbar {
    display: none;
}

.cust-form.ui.form {
    margin: 15px;
}

.heading.ui.header {
    margin: 15px;
}

#bottom-btn {
    margin-bottom: 15px;
}

#hide {
    display: none;
}

@media (min-width: 500px) {
    main.login {
        flex-direction: row;
        margin: 35px;
    }
    .assignment.ui.cards {
        justify-content: left;
    }
    .show {
        flex-direction: column;
    }
    #assignment-show {
        width: fit-content;
        max-width: 1200px;
    }
}

@media (min-width: 700px) {
    main {
        flex-direction: row;
    }
    .show {
        flex-direction: column;
    }
}