:root {
    --primary: #f9f9f9;
}

body {
    background: linear-gradient(to right, var(--primary), #f9f9f9);
}

body.pushable>.pusher {
    background: linear-gradient(to right, var(--primary), #f9f9f9);
}

button.ele-col.ui.button {
    background-color: var(--primary);
    filter: brightness(90%);
}

div.ele-col.ui {
    background-color: var(--primary);
    filter: brightness(90%);
} 